body {
    background: linear-gradient(90deg, #FFFFFF, #00c3ffc9)
}
.link {
    font-family: Сomic Sans MS;
    font-size: 20px;
    color: black;
}
h2 {
    color:black;
    font-size: 18px;
    font-weight: 400;
}
.product_description {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.product_description_in_detail {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
ul {
    list-style-image: url(flat-style-circle-add-2-512.png);
    font-family: cursive;
    font-size: 18px;
}
input {
    border-radius: 5px;
    height: 30px;
    width: 180px;
    color: black;
    font-family: cursive;
    font-size: 14px;
}
button {
    font-family: cursive;
    font-size: 14px;
    height: 30px;
    width: 180px;
    border-radius: 5px;
    background: linear-gradient(270deg,  #00c3ffc9, #FFFFFF)
}
textarea {
    border-radius: 5px;
    font-family: cursive;
    font-size: 14px;
}
.img_product {
    border-color: black;
    border: 3;
}